{% extends "base1.html" %}
{% block head_title %}Home  Manager | IBNM{% endblock %}



<body>

  {% block content %}

<!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'news:manager_home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Add Trending News</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">   
          <li>
            <a href=" {% url 'news:create' %}">
              <i class="bi bi-circle"></i><span>Add News</span>
            </a>
          </li>
          <li>
            <a href="{% url 'breaking:break_create' %}">
              <i class="bi bi-circle"></i><span> Add Breaking News</span>
            </a>
          </li>
          <li>
            <a href=" {% url 'trending:trending_create' %}">
              <i class="bi bi-circle"></i><span>Add Trending News</span>
            </a>
          </li>
          <li>
            <a href="{% url 'bignews:bignews_create' %}">
              <i class="bi bi-circle"></i><span>Add Big News</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>View Trending News</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">


          <li>
            <a href=" {% url 'news:manager_list_post' %}">
              <i class="bi bi-circle"></i><span>View News</span>
            </a>
          </li>
          <li>
            <a href="{% url 'breaking:break_list' %}">
              <i class="bi bi-circle"></i><span>View Breaking News</span>
            </a>
          </li>
          <li>
            <a href="{% url 'trending:trend_list_post' %}">
              <i class="bi bi-circle"></i><span>View Trending News</span>
            </a>
          </li>
          <li>
            <a href="{% url 'bignews:bignews_list_post' %}">
              <i class="bi bi-circle"></i><span>View Big News</span>
            </a>
          </li>



        </ul>
      </li><!-- End Forms Nav -->     
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1> Trending News</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href=" {% url 'news:manager_home' %}">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active"> Trending News</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">List of  Trending News</h5>

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Start Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for trend in trend_list %}
                    <th scope="row"> {{forloop.counter}} </th>
                    <td>{{trend.title}}</td>
                    <td>{{trend.pub_date}}</td>
                    <td> <a href="{% url 'trending:trend_update_news' trend.id %}"> Edit </a></td>
                    <td> <a href="{% url 'trending:trend_delete_news' trend.id %}"> Delete </a></td>
                  </tr>
                  {% endfor %}           
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock %}

   
  
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>IbmnAdmin</span></strong>. All Rights Reserved
    </div>
   
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  

</body>

</html>