{% extends "base2.html" %}

{% load static i18n %}
{% load social_share %}


{% block content %}
<!-- Blog Single Start Here -->
<div class="single-blog-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="single-image">
                    {% if news.image %}
                    <img src="{{news.image.url}}" alt="Blog single photo" />
                    {% endif %} 
                </div>
                <h3>{{news.short_txt}}</h3>

                <div class="share-section">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 life-style">
                            <span class="author"> 
                                <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>{{request.user.get_full_name}} </a>
                            </span> 
                            <span class="date">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>{{news.pub_date.date}}
                            </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul class="share-link">
                                <li class="hvr-bounce-to-right"><a href="#"> Tags:</a></li>
                                {% for tag in news.tags.all|slice:"2" %}
                                <li class="hvr-bounce-to-right"><a href="#">{{ tag }}</a></li>
                                {% endfor %}
                                 </ul>
                        </div>
                    </div>
                </div>
                {{news.body_txt|safe}}

                

                <div class="share-section share-section2">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <span> You Can Share It : </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul class="share-link">
                               <li class="hvr-bounce-to-right"> {% post_to_facebook object_or_url "Facebook" %} </li> 
                               <li class="hvr-bounce-to-right"> {% post_to_whatsapp object_or_url "Whatsapp" %} </li> 
                               <li class="hvr-bounce-to-right"> {% post_to_twitter object_or_url "Twitter" %} </li> 

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="author-comment">
                    <h3 class="title-bg">Recent Comments</h3>
                        {% with comments.count as total_comments %}
                        <h3 class="title-sm">
                            {{ total_comments }} comment{{ total_comments|pluralize }}
                        </h3>
                          {% endwith %}
                            
                            {% if not news.comments.all %}
                            No comments yet
                            {% else %}
                                {% for comment in news.get_comments %}
                                {% include 'pages/comment.html' with comment=comment %}
                            {% endfor %}
                            {% endif %}
                         
                      </div>            
                       <div class="leave-comments-area">
                        <h4 class="title-bg">Leave Comments</h4>
                        <form  id="myForm" method="post" >
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <label>Name*</label>
                                    {{comment_form.name}}
                                </div>
                                <div class="form-group">
                                    <label>Email*</label>
                                    {{comment_form.email}}
                                </div>
                                <div class="form-group">
                                    <label>Your comment here...</label>
                                    {{comment_form.content}}
                                </div>
                                <div class="form-group">
                                    <button class="btn-send" type="submit">Make Comment</button>
                                </div>
                            </fieldset>
                       </form>
                </div>  
                                
                                             
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <!-- Blog Single Sidebar Start Here -->
                <div class="sidebar-area">
                   
                    <div class="recent-post-area hot-news">
                        <h3 class="title-bg">Related News</h3>
                        <ul class="news-post">
                                {% for news in similar_news%}
                                <li> 
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
                                        <div class="item-post">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddimg-right-none">
                                                    {% if news.image %}
                                                    <a href="{% url 'news:news_detail' news.slug %}"><img src="{{news.image.url}}" alt="" title="News image" /></a>
                                                    {% endif %} 
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                    <h4><a href="{% url 'news:news_detail' news.slug %}">{{news.short_txt|truncatechars:60}}                                                    </a></h4>
                                                    <span class="date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>{{news.pub_date}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                   
                </div>
            </div>                
        </div>
    </div>
</div>
<!-- Blog Details Page end here -->

{% endblock %}